@import "bootstrap";

li {
    text-align: left;
}
.thebe-output {
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.thebe-input {
    text-align: left;
    font-size: 12px;
    max-height: 50000px;

}

.thebe-cell {
    text-align: left;
    overflow-x: scroll;
    font-size: 12px;
    margin-bottom: 20px;
}

.CodeMirror {
    height: auto;
    border-radius: 10px
}

.CodeMirror-focused {
}

// Extend Bootstrap's primary button
.thebe-button {
    @extend .btn;
    @extend .btn-dark;
    margin-right: 10px;
}

.dataframe {
    @extend .table
}

.jp-OutputPrompt {
    margin-bottom: 15px;
    font-size: 15px;
}

.thebe-input {
    margin-bottom: 15px;
}

.thebe-controls {
    margin-bottom: 15px;
}

.thebe-runall-button {
    display: none;
}

h1 {
    text-align: left;
}

p {
    text-align: left;
}